<!-- Form Handling -->
<form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="ID" class="text-light">ID</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="eg.012345">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Zuckerburg">
        </div>
        <div class="form-group">
            <label for="College_Mail" class="text-light">College_Mail</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="type" value="" placeholder="abc@gmail.com">
        </div>
        <div class="form-group">
            <label for="Phone Number" class="text-light">Phone Number</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Phone Number" value="" placeholder="1234567890">
        </div>
        <div class="form-group">
            <label for="Department Name" class="text-light">Department Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="Dept" value="" placeholder="eg.CSE">
        </div>
        <div class="form-group">
            <label for="Roll_no" class="text-light">Roll_no</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="roll no" value="" placeholder="eg.123456">
        </div>
        <div class="form-group">
            <label for="City" class="text-light">City</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="City" value="" placeholder="eg.Kolkata">
        </div>
        <div class="form-group">
            <label for="Status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" name="Status" value="Active">
                <label for="Status" class="text-light">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="Status" value="Inctive">
                <label for="Status" class="text-light">Inactive</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Save</button>
            </div>
            <!-- <input type="hidden" name="id" value="">
            <input type="text" name="City" value="" placeholder="eg.Kolkata"> -->
        
    
    <!-- <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <-- <th>College_ID</th> -->
                <!-- <th>College_Mail</th>
                <-- <th>Personal_Mail</th> -->
                <!-- <th>Phone Number</th> -->
                <!-- <th>Department Name</th> -->
                <!-- <th>Year</th> -->
                <!-- <th>Roll_no</th> -->
                <!-- <th>City</th> -->
            <!-- </tr> -->
        <!-- </thead> -->
        <!-- <tbody> --> 
            <!-- <tr> -->
                <!-- <td>01</td> -->
                <!-- <td>Username</td> -->
                <!-- <td>026161</td> -->
                <!-- <td>abc@heritageit.edu.in</td> -->
                <!-- <td>abc.def@gmail.com</td> -->
                <!-- <td>1234567890</td> -->
                <!-- <td>AEIE</td> -->
                <!-- <td>3rd year</td> -->
                <!-- <td>1953048</td> -->
                <!-- <td>Kolkata</td> -->
                <!-- <td> -->
                    <!-- <a href="#" class="btn border-shadow update"> -->
                        <!-- <span class="text-gradient"></span> -->
                        <!-- <i class="fa-solid fa-circle-check"></i> -->
                        <!-- <i class="fa-solid fa-pen-to-square"></i> -->
                    <!-- </a> -->
                    <!-- <a class="btn border-shadow delete"> -->
                        <!-- <span class="text-gradient"></span> -->
                            <!-- <i class="fas fa-times"></i> -->
                            <!-- <i class="fa-solid fa-circle-xmark"></i> -->
                    <!-- </a> -->
                <!-- </td> -->
            <!-- </tr> -->
        <!-- </tbody> -->
    <!-- </table>  -->
   </form>

