<tr>
    <td>01</td>
    <td>Username</td>
    <!-- <td>026161</td> -->
    <td>abc@heritageit.edu.in</td>
    <!-- <td>abc.def@gmail.com</td> -->
    <td>1234567890</td>
    <td>AEIE</td>
    <!-- <td>3rd year</td> -->
    <td>1953048</td>
    <td>Kolkata</td>
    <td>
        <a href="#" class="btn border-shadow update">
            <!-- <span class="text-gradient"></span> -->
            <!-- <i class="fa-solid fa-circle-check"></i> -->
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a class="btn border-shadow delete">
            <!-- <span class="text-gradient"></span> -->
                <!-- <i class="fas fa-times"></i> -->
                <i class="fa-solid fa-circle-xmark"></i>
        </a>
    </td>
</tr>

<!-- include footer -->
%-include('include/_show)%>
<!-- /include footer -->